*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    
    background-image: url(/images/SciFiBg003_Blue.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box{
    border: 3px solid aliceblue;
    text-align: center;
    width:50% !important;
     margin-left: auto ;
     margin-right: auto;
     margin-top: 200px;
     
    
     position: relative;
     max-width: 470px;
     width: 400px!important;
     height: 400px!important;
     background: transparent;
     box-shadow: rgb(255 255 255 / 50%) 0px 30.0211px 43.1072px -27.7118px inset, rgb(255 255 255) 0px 5.38841px 8.46749px -3.07909px inset, rgb(96 68 145 / 30%) 0px -63.1213px 52.3445px -49.2654px inset, rgb(202 172 255 / 30%) 0px 75.4377px 76.9772px -36.9491px inset, rgb(154 146 210 / 30%) 0px 3.07909px 13.8559px inset, rgb(227 222 255 / 20%) 0px 0.769772px 30.7909px inset;
     border-radius: 16px;
     padding: 2rem;
     border: 1px solid rgb(80, 213, 255);
}

.log-in{
    color: aliceblue;
    font-size: 1.4rem;
}

.reset{
    color: aliceblue;
    font-size: 1rem;
}

.login-form-body{
    margin-top: 20px;
}

.mail{
    color: aliceblue;
    font-size: 1rem;
    padding-top: 20px;
}

#userEmail{
    background: transparent;
    border: 2px solid #D081F2;
    padding-left: 5px;
    color: aliceblue;
    
}
#userEmail:hover{
    box-shadow:0 0 10px #69EBFD;
}

.btn{
    
    border: 1px solid aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    padding-top: 12px;
    color: aliceblue!important;
    background:linear-gradient(95.64deg, #29aafd 8.08%, #ff00e9 105.91%);
    font-size: 1.1rem;
}

.btn:hover{
    background: linear-gradient(95.64deg, #ff00e9 8.08%, #29aafd 105.91%);
}



