
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

    

body{
    
    background-image: url(/images/SciFiBg003_Blue.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
  
    
   
    
}


#login-box {
    border: 3px solid aliceblue;
    text-align: center;
    width: 25%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    
    background: transparent;
    box-shadow: rgb(255 255 255 / 50%) 0px 30.0211px 43.1072px -27.7118px inset, rgb(255 255 255) 0px 5.38841px 8.46749px -3.07909px inset, rgb(96 68 145 / 30%) 0px -63.1213px 52.3445px -49.2654px inset, rgb(202 172 255 / 30%) 0px 75.4377px 76.9772px -36.9491px inset, rgb(154 146 210 / 30%) 0px 3.07909px 13.8559px inset, rgb(227 222 255 / 20%) 0px 0.769772px 30.7909px inset !important;
    border-radius: 16px;
    padding: 2rem;
    border: 1px solid rgb(80, 213, 255);
}

.header h1{
    color : white;
    text-transform: uppercase;
    
}

input {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    margin: 12px;
    transition: .3s ease-out;
}


#sbmt {
    color: aliceblue;
    background: linear-gradient(95.64deg, #29aafd 8.08%, #ff00e9 105.91%);
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    padding: 18px 47px;
    border-radius: 8px;
}


@media only screen and (max-width: 1100px) {
    #login-box {
    margin-bottom:10%;
    }
        input {
        font-size: 16px;
        padding: 8px;
        border-radius: 8px;
        border: 2px solid black;
        width:70%;
    }
    #login-box {
        width: 35% ;
        height: 50%;
        padding: 1rem;
    }
    #sbmt {
        font-size: 20px;
        padding: 10px;
        width:100px;
    }
}

@media only screen and (max-width: 600px) {
    input {
        font-size: 14px;
        padding: 8px;
        border-radius: 8px;
        border: 2px solid black;
        width: 70%;
    }
    #login-box {
        width: 60%;
        height: 15% !important;
        padding: 1rem;
    }
    #sbmt {
        font-size: 15px;
        padding: 10px;
        width:100px;
    }
}

#email{
    
    background : transparent;
    outline: none;
    border: 2px solid #D081F2;
    color: aliceblue;
    
}

#password{
    
    
    
    
    background : rgba(0, 0, 0, 0);
    outline: none;
    border: 2px solid #D081F2;
    border-radius: 8px;
    color: aliceblue;
    
   
}

#Submit-Button{
    color:aliceblue;
    background : rgba(0, 0, 0, 0);
    outline: none;
    border: 2px solid #D081F2;
    border-radius: 8px;
    
}



#password:hover,#email:hover,#Submit-Button:hover{
    
    box-shadow:0 0 10px #69EBFD;
}

#username-icon{
    color: aliceblue;
}
#password-icon{
    color: aliceblue;
}
#forget-pass{
    color: aliceblue;
    text-decoration: none;
}

#forget-pass:hover{
    box-shadow:0 0 10px #69EBFD;
}

#sbmt:hover{
    background: linear-gradient(95.64deg, #ff00e9 8.08%, #29aafd 105.91%);
}
