@model IList<BattleOfMinds.Models.Models.Questions>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle</title>
    <link rel="stylesheet" href="~/css/recycle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="~/js/recycle.js"></script>
</head>
<body>
    <div class="all-questions" id="questions">
    </div>
    

            <script type="text/javascript">

                let question_list = [];
                let id_list = [];

                @foreach (var item in Model)
                {
                    @:question_list.push("@item.QuestionDescription");
                    @:id_list.push("@item.Id");

                }

                    addCode(question_list,id_list);
            </script>
    @Html.ActionLink("", "Index", "Home", null, new { @class="btn btn-info fa fa-home fa-xl"})
</body>
</html>